<% for band in @bands do %>
  <div>
      <%= form_for band , data: {confirm: "送信しても良いかい？"} do |f| %>
      <div class="col-5">
        <%= f.label :order, "#{band.name}", class:'control-label mt-2 mb-0'%>
      </div>

      <div class="">
        <%= f.select :order ,[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22], {}, class: 'form-control' %>
      </div>
      <%= f.submit "送信", class: "btn btn-primary"%> 
      <% end %>
  </div>
<% end %>
